<app-header-one [sticky]="true"></app-header-one>

<!-- slider tab  -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="theme-tab">
                    <ngb-tabset [justify]="'center'" [type]="'pills'" class="tabs tab-title2">
                      <ngb-tab *ngFor="let collection of productCollections">
                        <ng-template ngbTabTitle>{{collection}}</ng-template>
                        <ng-template ngbTabContent>
                          <div class="no-slider row">
                            <ng-container *ngFor="let product of getCollectionProducts(collection) | slice:0:8">
                              <div class="product-box">
                                <app-product-box-one 
                                  [product]="product" 
                                  [currency]="productService?.Currency">
                                </app-product-box-one>
                              </div>
                            </ng-container>
                          </div>
                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider tab end -->

<app-footer-one></app-footer-one>
