<!-- personal deatail section start -->
<section class="contact-page register-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>INFORMATION PERSONNELLE</h3>
                <form class="theme-form" *ngFor='let util of utilisateur | async'>
                    <div class="form-row" *ngIf='util.key == user'>
                        <div class="col-md-6">
                            <label for="name">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="name" 
                            [value]="util.name"
                            placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" 
                            [value]='util.telephone'
                            id="review" placeholder="Enter your number" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" 
                            [value]="util.email"
                            placeholder="Email" required="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- address section start -->
<!-- Section ends -->